


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Market</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-7">
                        Bolts
                    </div>
                    <div class="col-md-5">
                        Php 100.00
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <img src="/images/bolts.jpg" class="col-lg-12 col-md-12" />
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Products</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-7">
                        Bolts
                    </div>
                    <div class="col-md-5">
                        Php 100.00
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <img src="/images/bolts.jpg" class="col-lg-12 col-md-12" />
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Products</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-7">
                        Bolts
                    </div>
                    <div class="col-md-5">
                        Php 100.00
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <img src="/images/bolts.jpg" class="col-lg-12 col-md-12" />
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Products</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-7">
                        Bolts
                    </div>
                    <div class="col-md-5">
                        Php 100.00
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <img src="/images/bolts.jpg" class="col-lg-12 col-md-12" />
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Products</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-7">
                        Bolts
                    </div>
                    <div class="col-md-5">
                        Php 100.00
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <img src="/images/bolts.jpg" class="col-lg-12 col-md-12" />
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Products</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-7">
                        Bolts
                    </div>
                    <div class="col-md-5">
                        Php 100.00
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <img src="/images/bolts.jpg" class="col-lg-12 col-md-12" />
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Products</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>



</div>